@model AttorneysLogo
@{
    ViewData["Title"] = "Edit";
}
<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label>Add Picture</label>
        <input asp-for="Photo" class="form-control" />
        <span asp-validation-for="Photo" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <label>Current Photo</label>
        <img height="150" width="200" src="~/images/Logo/@Model.Image" />
        <input type="hidden" name="Image" value="@Model.Image" />
    </div>
    <input type="submit" class="btn btn-danger btn-block" value="Update" />
</form>