
@model IList<AttorneysLogo>

@if (TempData["Success"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["Success"]
    </div>
}

<div>
    <a href="/Admin/AttorneysLogo/Create" class="btn btn-outline-secondary" style="width:100%;margin-bottom:20px">Add new slider</a>
</div>

<table class="table table-bordered">
    <thead class="bg-gradient-danger">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Image</th>
            <th>Edit/Delete</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr class="table-dark">
                <th scope="row">@item.Id</th>
                <td>
                    <img width="200" height="150" src="~/images/Logo/@item.Image" alt="Alternate Text" />
                </td>

                <td>
                    <a href="/Admin/AttorneysLogo/Edit/@item.Id" style="color:red"><i class="fas fa-edit"></i></a>
                    <a href="/Admin/AttorneysLogo/Delete/@item.Id" onclick="return confirm('Silmek isdediyinizden eminsinizmi?')" style="color:red"><i class="fas fa-trash-alt"></i></a>
                    <br />
                    <a href="/Admin/AttorneysLogo/Details/@item.Id" style="color:red">Etrafli</a>
                </td>
            </tr>

        }
    </tbody>
</table>