@model HomeVM

<style>
    .tests {
        background-image: url(../images/top-bkgs/environmet.jpg);
        background-size:cover;
    }
</style>
<div class="page-head tests">
    <div class="inner-desc">
        <div class="container">
            @foreach (var item in Model.practiceSliders)
            {
                <h1 class="page-title">@item.Name</h1>
                <span class="post-subtitle page-subtitle">@item.Description</span>
            }
        </div>
    </div>
</div>