@model AllContactsAreas
@{
    ViewData["Title"] = "Edit";
}
<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label>Address</label>
        <textarea asp-for="Address" id="Name" class="form-control"></textarea>
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>AddressHeader</label>
        <textarea asp-for="AddressHeader" id="AddressHeader" class="form-control"></textarea>
        <span asp-validation-for="AddressHeader" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Phone</label>
        <textarea asp-for="Phone" id="Name" class="form-control"></textarea>
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>PhoneHeader</label>
        <textarea asp-for="PhoneHeader" id="PhoneHeader" class="form-control"></textarea>
        <span asp-validation-for="PhoneHeader" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>OfficeHeader</label>
        <textarea asp-for="OfficeHeader" id="OfficeHeader" class="form-control"></textarea>
        <span asp-validation-for="OfficeHeader" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Hours</label>
        <textarea asp-for="Hours" id="Name" class="form-control"></textarea>
        <span asp-validation-for="Hours" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>ContactHeader</label>
        <textarea asp-for="ContactHeader" id="ContactHeader" class="form-control"></textarea>
        <span asp-validation-for="ContactHeader" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>ContactHeaderDescription</label>
        <textarea asp-for="ContactHeaderDescription" id="ContactHeaderDescription" class="form-control"></textarea>
        <span asp-validation-for="ContactHeaderDescription" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-danger btn-block" value="Update" />
</form>


@section scripts{

    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor5/32.0.0/ckeditor.min.js"></script>
    <script>
        ClassicEditor.create(document.querySelector('#Name')).catch(error => {
            console.error(error);
        });
    </script>
}


@section scripts1{

    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor5/32.0.0/ckeditor.min.js"></script>
    <script>
        ClassicEditor.create(document.querySelector('#AddressHeader')).catch(error => {
            console.error(error);
        });
    </script>
}


@section scriptsNumOne{

    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor5/32.0.0/ckeditor.min.js"></script>
    <script>
        ClassicEditor.create(document.querySelector('#PhoneHeader')).catch(error => {
            console.error(error);
        });
    </script>
}

@section scriptsNumTwo{

    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor5/32.0.0/ckeditor.min.js"></script>
    <script>
        ClassicEditor.create(document.querySelector('#OfficeHeader')).catch(error => {
            console.error(error);
        });
    </script>
}



@section scriptsNumThree{

    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor5/32.0.0/ckeditor.min.js"></script>
    <script>
        ClassicEditor.create(document.querySelector('#ContactHeader')).catch(error => {
            console.error(error);
        });
    </script>
}

@section scriptsNumFour{

    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor5/32.0.0/ckeditor.min.js"></script>
    <script>
        ClassicEditor.create(document.querySelector('#ContactHeaderDescription')).catch(error => {
            console.error(error);
        });
    </script>
}