@model IndexChoose
@{
    ViewData["Title"] = "Edit";
}
<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label>Trendword</label>
        <textarea asp-for="Textone" id="Textone" class="form-control"></textarea>
        <span asp-validation-for="Textone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Trendword</label>
        <textarea asp-for="TextTwo" id="textTo" class="form-control"></textarea>
        <span asp-validation-for="TextTwo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Trendword</label>
        <textarea asp-for="numberOne" id="numberOne" class="form-control"></textarea>
        <span asp-validation-for="numberOne" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Trendword</label>
        <textarea asp-for="numberTwo" id="numberOne" class="form-control"></textarea>
        <span asp-validation-for="numberTwo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Trendword</label>
        <textarea asp-for="numberThree" id="numberThree" class="form-control"></textarea>
        <span asp-validation-for="numberThree" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Trendword</label>
        <textarea asp-for="numberFour" id="numberFour" class="form-control"></textarea>
        <span asp-validation-for="numberFour" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>ClothType</label>
        <input asp-for="numbroneDesc" class="form-control" />
        <span asp-validation-for="numbroneDesc" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>ClothType</label>
        <input asp-for="numbrTWoDesc" class="form-control" />
        <span asp-validation-for="numbrTWoDesc" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>ClothType</label>
        <input asp-for="numbrThreeDesc" class="form-control" />
        <span asp-validation-for="numbrThreeDesc" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>ClothType</label>
        <input asp-for="numbFourDesc" class="form-control" />
        <span asp-validation-for="numbFourDesc" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-danger btn-block" value="Update" />
</form>


@section scripts{

    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor5/32.0.0/ckeditor.min.js"></script>
    <script>
    ClassicEditor.create(document.querySelector('#Name')).catch(error => {
        console.error(error);
    });
    </script>
}