<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Lawyers - Attorneys Business HTML Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noodp" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i%7CCrimson+Text:400,400i,700,700i' rel='stylesheet' type='text/css'>
    <!-- Bootstrap CSS -->
    <link rel='stylesheet' id='bootstrap-css' href='~/css/bootstrap/css/bootstrap.css' type='text/css' media='all' />
    <!-- Font Awesome Icons CSS -->
    <link rel='stylesheet' id='font-awesome' href='~/css/fontawesome/css/all.min.css' type='text/css' media='all' />
    <!-- Owl Carousel -->
    <link rel='stylesheet' id='owl-carousel' href='js/owl-carousel/owl.carousel.css' type='text/css' media='all' />
    <!-- Main CSS File -->
    <link rel='stylesheet' id='lawyers-style-css' href='~/css/style.css' type='text/css' media='all' />
    <link rel="icon" href="~/images/icons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" href="~/images/icons/favicon-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="~/images/icons/favicon-180x180.png" />
</head>
<body>
    <header id="header-bar" class="header-1">
        <div class="container">
            <div class="header-wrap header-wrap1">
                <div class="logo logo-1"><a href="index.html"><img class="img-fluid" src="~/images/logo.png" alt="Lawyers"></a></div>
                <div class="header-contact">
                    <div class="header-info"><span class="info-circle"><i class="fa fa-phone"></i></span> 1-800-000-111</div>
                    <div class="header-info"><span class="info-circle"><i class="fa fa-envelope"></i></span> contact@example.com</div>
                </div>
                <div class="nav-button-holder"> <button type="button" class="nav-button"> <span class="icon-bar"></span> </button></div>
            </div>
            <div class="nav-holder nav-holder-1">
                <ul class="menu-nav  menu-nav-1">
                    <li class="">
                        <a asp-action="Index" asp-controller="Home">Home</a>
                        
                    </li>
                    <li class="menu-item menu-item-has-children current-menu-item">
                        <a asp-action="Pages" asp-controller="Home">Pages</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a asp-action="AboutMe" asp-controller="Home">About Me</a></li>
                            <li class="menu-item"><a asp-action="Pricing" asp-controller="Home">Pricing</a></li>
                            <li class="menu-item"><a asp-action="Faq" asp-controller="Home">Faq</a></li>
                        </ul>
                    </li>
                    <li class="">
                        <a asp-action="Practice" asp-controller="Home">Practice Areas</a>
                        
                    </li>
                    <li class="">
                        <a asp-action="Attorneys" asp-controller="Home">Attorneys</a>
                        
                    </li>
                    <li class="">
                        <a asp-action="CaseStudies" asp-controller="Home">Case Studies</a>
                        
                    </li>
                    <li class="">
                        <a asp-action="Blog" asp-controller="Home">Blog</a>
                        
                    </li>
                    <li class="">
                        <a asp-action="Contact" asp-controller="Home">Contact</a>
                        
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer id="footer-var2">
        <div id="footer-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="foo-block">
                            <h5 class="widgettitle">About Us</h5>
                            <div class="textwidget">
                                <div class="textwidget">
                                    <p>Maecenas lorem mi, interdum id commodo ac, tincidunt vitae magna. In hac habitasse platea dictumst. Pellentesque quam justo, aliquam non accumsan a, aliquam id dolor.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="foo-block">
                            <h5 class="widgettitle">Contact</h5>
                            <div class="textwidget">
                                <div class="textwidget">
                                    <p>40 Park Ave, Brooklyn, New York,<br> NY 10000, US</p>
                                    <p>+1 800 111 2222<br> contact@example.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="foo-block">
                            <h5 class="widgettitle">Quick Links</h5>
                            <div class="textwidget custom-html-widget">
                                <ul>
                                    <li> <a asp-action="Index" asp-controller="Home">Home</a></li>
                                    <li><a asp-action="Pages" asp-controller="Home">About</a></li>
                                    <li><a asp-action="Practice" asp-controller="Home">Practice Areas</a></li>
                                    <li><a asp-action="Contact" asp-controller="Home">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="footer-social alignc">
                    <li><a class="social-facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a class="social-twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a class="social-linkedin" href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                </ul>
                <div class="foo-copyright alignc">Copyright &copy; 2019 Lawyers. Designed by MatchThemes</div>
            </div>
        </div>
    </footer>

    <div class="scrollup"> <a class="scrolltop" href="#"> <i class="fa fa-chevron-up"></i> </a></div>
    <!-- JS -->
    <script src='~/js/jquery.js'></script>
    <script src='~/js/jquery-migrate.min.js'></script>
    <script src='~/css/bootstrap/js/popper.js'></script>
    <script src='~/css/bootstrap/js/bootstrap.js'></script>
    <script src='~/js/easing.js'></script>
    <script src='~/js/fitvids.js'></script>
    <script src='~/js/owl-carousel/owl.carousel.js'></script>
    <script src='~/js/isotope.js'></script>
    <script src='~/js/jquery.magnific-popup.min.js'></script>
    <!-- MAIN JS -->
    <script src='~/js/init.js'></script>
    <!-- CONTAT FORM JS -->
    <script src='~/js/jquery.form.min.js'></script>
    <script src='~/js/contactform.js'></script>
</body>
</html>
