@model Biography

@section styles{ @*bunu ona gore yazdiqki burda yazilan css shared papkasinda loayout.cshtml icerisinde render ede bilek*@
<style>
    label {
        color: red;
    }
</style>
}
<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label>Image</label>
        <input type="file" class="form-control" asp-for="Photo">
        <span asp-validation-for="Photo" style="color:red"></span>
    </div>
    <div class="mb-3">
        <label>BioHeader</label>
        <textarea asp-for="BioHeader" id="BioHeader" class="form-control"></textarea>
        <span asp-validation-for="BioHeader" style="color:red"></span>
    </div>
    <div class="mb-3">
        <label>BioDescription</label>
        <textarea asp-for="BioDescription" id="BioDescription" class="form-control"></textarea>
        <span asp-validation-for="BioDescription" style="color:red"></span>
    </div>
    <div class="mb-3">
        <label>EducationHeader</label>
        <textarea asp-for="EducationHeader" id="EducationHeader" class="form-control"></textarea>
        <span asp-validation-for="EducationHeader" style="color:red"></span>
    </div>
    <div class="mb-3">
        <label>EducationDescription</label>
        <textarea asp-for="EducationDescription" id="EducationDescription" class="form-control"></textarea>
        <span asp-validation-for="EducationDescription" style="color:red"></span>
    </div>
    <div class="mb-3">
        <label>Aphorizm</label>
        <textarea asp-for="Aphorizm" id="Aphorizm" class="form-control"></textarea>
        <span asp-validation-for="Aphorizm" style="color:red"></span>
    </div>

    <div class="mb-3">
        <label>AwarsHeader</label>
        <textarea asp-for="AwarsHeader" id="AwarsHeader" class="form-control"></textarea>
        <span asp-validation-for="AwarsHeader" style="color:red"></span>
    </div>
    <div class="mb-3">
        <label>AwardDescription</label>
        <input type="text" class="form-control" asp-for="AwardDescription">
        <span asp-validation-for="AwardDescription" style="color:red"></span>
    </div>
    <div class="mb-3">
        <label>AwardIconsDesc</label>
        <input type="text" class="form-control" asp-for="AwardIconsDesc">
        <span asp-validation-for="AwardIconsDesc" style="color:red"></span>
    </div>

    <div class="mb-3">
        <label>Job</label>
        <input type="text" class="form-control" asp-for="Job">
        <span asp-validation-for="Job" style="color:red"></span>
    </div>
    <div class="mb-3">
        <label>Name</label>
        <input type="text" class="form-control" asp-for="Name">
        <span asp-validation-for="Name" style="color:red"></span>
    </div>

    <div class="mb-3">
        <label>Comminucate</label>
        <input type="text" class="form-control" asp-for="Comminucate">
        <span asp-validation-for="Comminucate" style="color:red"></span>
    </div>

    <div class="mb-3">
        <label>IconsComminucate</label>
        <input type="text" class="form-control" asp-for="IconsComminucate" />
        <span asp-validation-for="IconsComminucate" style="color:red"></span>
    </div>
    <div class="mb-3">
        <label>IconsComminucate2</label>
        <input type="text" class="form-control" asp-for="IconsComminucate2" />
        <span asp-validation-for="IconsComminucate2" style="color:red"></span>
    </div>
    <div class="mb-3">
        <label>IconsComminucate3</label>
        <input type="text" class="form-control" asp-for="IconsComminucate3" />
        <span asp-validation-for="IconsComminucate3" style="color:red"></span>
    </div>
    <div class="mb-3">
        <label>PractiseHeader</label>
        <input type="text" class="form-control" asp-for="PractiseHeader">
        <span asp-validation-for="PractiseHeader" style="color:red"></span>
    </div>

    <div class="mb-3">
        <label>PrcatiseDesc</label>
        <input type="text" class="form-control" asp-for="PrcatiseDesc">
        <span asp-validation-for="PrcatiseDesc" style="color:red"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>



@section scripts{

    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor5/32.0.0/ckeditor.min.js"></script>
    <script>
        ClassicEditor.create(document.querySelector('#BioHeader')).catch(error => {
            console.error(error);
        });
    </script>
}

@section scriptsnews{

    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor5/32.0.0/ckeditor.min.js"></script>
    <script>
        ClassicEditor.create(document.querySelector('#IconsComminucate')).catch(error => {
            console.error(error);
        });
    </script>
}


@section scripts1{

    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor5/32.0.0/ckeditor.min.js"></script>
    <script>
        ClassicEditor.create(document.querySelector('#BioDescription')).catch(error => {
            console.error(error);
        });
    </script>
}


@section scriptsNumOne{

    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor5/32.0.0/ckeditor.min.js"></script>
    <script>
        ClassicEditor.create(document.querySelector('#EducationHeader')).catch(error => {
            console.error(error);
        });
    </script>
}

@section scriptsNumTwo{

    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor5/32.0.0/ckeditor.min.js"></script>
    <script>
        ClassicEditor.create(document.querySelector('#EducationDescription')).catch(error => {
            console.error(error);
        });
    </script>
}



@section scriptsNumThree{

    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor5/32.0.0/ckeditor.min.js"></script>
    <script>
        ClassicEditor.create(document.querySelector('#Aphorizm')).catch(error => {
            console.error(error);
        });
    </script>
}

@section scriptsNumFour{

    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor5/32.0.0/ckeditor.min.js"></script>
    <script>
        ClassicEditor.create(document.querySelector('#AwarsHeader')).catch(error => {
            console.error(error);
        });
    </script>
}