@model Case

@section styles{ @*bunu ona gore yazdiqki burda yazilan css shared papkasinda loayout.cshtml icerisinde render ede bilek*@
<style>
    label {
        color: red;
    }
</style>
}
<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label>Group</label>
        <select asp-for="categorysId" class="form-control">
            @foreach (var item in ViewBag.Categorys)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label>Image</label>
        <input type="file" class="form-control" asp-for="Photo">
        <span asp-validation-for="Photo" style="color:red"></span>
    </div>
    <div class="mb-3">
        <label>Title</label>
        <textarea class="form-control" asp-for="Title"></textarea>
        <span asp-validation-for="Title" style="color:red"></span>

    </div>
    <div class="mb-3">
        <label>Description</label>
        <input type="text" class="form-control" asp-for="Description">
        <span asp-validation-for="Description" style="color:red"></span>

    </div>
    <div class="mb-3">
        <label>Challenge</label>
        <input type="text" class="form-control" asp-for="Challenge">
        <span asp-validation-for="Challenge" style="color:red"></span>

    </div>
    <div class="mb-3">
        <label>Solution</label>
        <input type="text" class="form-control" asp-for="Solution">
        <span asp-validation-for="Solution" style="color:red"></span>

    </div>
    <div class="mb-3">
        <label>result</label>
        <input type="text" class="form-control" asp-for="Result">
        <span asp-validation-for="Result" style="color:red"></span>

    </div>
    <div class="mb-3">
        <label>time</label>
        <input type="text" class="form-control" asp-for="Time">
        <span asp-validation-for="Time" style="color:red"></span>

    </div>
    <div class="mb-3">
        <label>LawherFullname</label>
        <input type="text" class="form-control" asp-for="LawherFullname">
        <span asp-validation-for="LawherFullname" style="color:red"></span>

    </div>
    <div class="mb-3">
        <label>price</label>
        <input type="text" class="form-control" asp-for="Price">
        <span asp-validation-for="Price" style="color:red"></span>

    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section scripts{

    <partial name="_ValidationScriptsPartial" />
}