@model Practise
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Link</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Link</td>
            <td>@Model.Description</td>
            @*<td> @Html.DisplayNameFor(model => model.Price)</td>*@
        </tr>
    </tbody>
</table>