@model Category

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Photo</th>
            <th scope="col">Name</th>
            <th scope="col">Company</th>
            <th scope="col">Descripton</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <th width="300px">
                <img width="200" height="150" src="~/images/testimonials/@Model.Image" />
            </th>
            <td>@Html.Raw(Model.Name)</td>
            <td>@Html.Raw(Model.Company)</td>
            <td>@Html.Raw(Model.Description)</td>
        </tr>
    </tbody>
</table>